# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

Agrega observaciones, conclusiones o notas acerca de los datos obtenidos en cada ejercicio.

In [1]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [2]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('assets/real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [3]:

max_price_house = df.loc[df['price'].idxmax()]
f'La casa más cara se encuentra en la dirección: {max_price_house["address"]} y su precio es {max_price_house["price"]} €'

'La casa más cara se encuentra en la dirección: El Escorial y su precio es 8500000 €'

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [4]:

min_price_house = df.loc[df['price'].idxmin()]
f'La casa más barata se encuentra en la dirección: {min_price_house["address"]} y su precio es {min_price_house} €'

'La casa más barata se encuentra en la dirección: Parla y su precio es Unnamed: 0                                                        367\nid_realEstates                                              153637952\nisNew                                                           False\nrealEstate_name                                                esalje\nphone_realEstate                                          912786497.0\nurl_inmueble        https://www.fotocasa.es/es/comprar/vivienda/ma...\nrooms                                                             4.0\nbathrooms                                                         4.0\nsurface                                                         262.0\nprice                                                               0\ndate                                      2019-12-28T18:52:25.965658Z\ndescription         ESALJE vende amplio pareado de 268 m2. distrib...\naddress                                                         Parla\ncountry                                                        España\nlevel1                                                         Madrid\nlevel2                                                         Madrid\nlevel3                                             Zona Sur de Madrid\nlevel4                                                 Parla, Zona de\nlevel5                                                          Parla\nlevel6                                                            NaN\nlevel7                                          Fuentebella - El Nido\nlevel8                                                            NaN\nupperLevel                                      Fuentebella - El Nido\ncountryId                                                           0\nlevel1Id                                                            0\nlevel2Id                                                            0\nlevel3Id                                                            0\nlevel4Id                                                            0\nlevel5Id                                                            0\nlevel6Id                                                            0\nlevel7Id                                                            0\nlevel8Id                                                            0\naccuracy                                                            0\nlatitude                                                     40,23202\nlongitude                                                    -3,78132\nzipCode                                                           NaN\ncustomZone                                                        NaN\nName: 366, dtype: object €'

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [5]:

surface_bighouse = df.loc[df['surface'].idxmax()]
f'La direccion de la casa mas grande es: {surface_bighouse["address"]} y su tamaño es: {surface_bighouse}'

'La direccion de la casa mas grande es: Sevilla la Nueva y su tamaño es: Unnamed: 0                                                       6795\nid_realEstates                                              153936192\nisNew                                                           False\nrealEstate_name                               habitarium inmobiliaria\nphone_realEstate                                          916357732.0\nurl_inmueble        https://www.fotocasa.es/es/comprar/vivienda/ma...\nrooms                                                             3.0\nbathrooms                                                         2.0\nsurface                                                      249000.0\nprice                                                          289000\ndate                                             2019-12-25T18:30:00Z\ndescription         Zona Centro. Chalet pareado de esquina de 249m...\naddress                                              Sevilla la Nueva\ncountry                                                        España\nlevel1                                                         Madrid\nlevel2                                                         Madrid\nlevel3                                                  Zona Suroeste\nlevel4                                      Sevilla la Nueva, Zona de\nlevel5                                               Sevilla la Nueva\nlevel6                                                            NaN\nlevel7                                                            NaN\nlevel8                                                            NaN\nupperLevel                                           Sevilla la Nueva\ncountryId                                                           0\nlevel1Id                                                            0\nlevel2Id                                                            0\nlevel3Id                                                            0\nlevel4Id                                                            0\nlevel5Id                                                            0\nlevel6Id                                                            0\nlevel7Id                                                            0\nlevel8Id                                                            0\naccuracy                                                            0\nlatitude                                                     40,34633\nlongitude                                                    -4,02174\nzipCode                                                           NaN\ncustomZone                                                        NaN\nName: 6794, dtype: object'

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [6]:
address_house = df.loc[df['surface'].idxmin(), 'address']
f'La casa mas pequeña es: {address_house}'

'La casa mas pequeña es: Calle Amparo,  Madrid Capital'

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [7]:
rows_with_nas = df.isna().any(axis=1)
rows_with_nas

0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

#### Ejercicio 06.

Elimina las columnas que contengan NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [8]:
nulo_df = df.dropna(axis = 1)
nulo_df

,Unnamed: 0,id_realEstates,isNew,url_inmueble,price,date,address,country,level1,level2,...,level2Id,level3Id,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude
0,1,153771986,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,195000,2019-12-28T18:27:15.9975027Z,"Calle Presidente Felipe Gonzalez, Arganda del Rey",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624"
1,2,153867863,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,89000,2019-12-28T18:27:15.9975027Z,"Calle Polvoranca, 6, Fuenlabrada",España,Madrid,Madrid,...,0,0,0,0,0,0,0,1,"40,28674","-3,79351"
2,3,153430440,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,390000,2019-12-28T18:27:15.9975027Z,"Calle Reyes Católicos, Boadilla del Monte",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624"
3,4,152776331,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,89000,2019-12-28T18:27:15.9975027Z,"Barrio San Andres, Fuenlabrada",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624"
4,5,153180188,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,172000,2019-12-28T18:27:15.9975027Z,Arganda del Rey,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,259470,2019-12-17T18:19:00Z,Madrid Capital,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,45416","-3,70286"
15331,15332,150394373,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,165000,2019-12-17T18:19:00Z,Velilla de San Antonio,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,36652","-3,48951"
15332,15333,153901397,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,495000,2019-12-17T18:19:00Z,Torrelodones,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,57444","-3,92124"
15333,15334,152607440,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,195000,2019-12-17T18:18:00Z,Velilla de San Antonio,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,36967","-3,48105"
15334,15335,153901356,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,765000,2019-12-17T18:17:00Z,"Paseo de la Castellana, Madrid Capital",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,45773","-3,69068"

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [9]:
df['level5'].value_counts()

level5
 Madrid Capital         6643
Alcalá de Henares        525
Las Rozas de Madrid      383
Móstoles                 325
Getafe                   290
                        ...
Fresno de Torote           1
Pinilla del Valle          1
Rascafría                  1
La Hiruela                 1
Montejo de la Sierra       1
Name: count, Length: 168, dtype: int64

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [10]:

sum_price = df.loc[df['level5'] == "Arroyomolinos (Madrid)"]
media_arroyo = sum_price['price'].median()
media_arroyo #no estoy seguro si hice este ejercicio correcto

np.float64(289000.0)

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [11]:
df_valde = df.loc[df['level5'] == "Valdemorillo"]
media_valde = df_valde['price'].mean()
df_gala = df.loc[df['level5'] == "Galapagar"]
media_gala = df_gala['price'].mean()
media_valde
media_gala

np.float64(360063.20238095237)

### Conclusion
No entiendo porque me esta reflejando un solo valor.

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [12]:
df['pps'] = df.apply(lambda x: x["price"] / x["surface"], axis=1)
ciudades = df['level5'].isin(["Valdemorillo", "Galapagar"])
df_ciudades = df.loc[ciudades]
df_ciudades[["level5", "pps"]].head(5)

           level5          pps
390  Valdemorillo  1882.352941
545  Valdemorillo  1758.215962
576     Galapagar  1388.695652
617     Galapagar  1050.000000
731     Galapagar  1257.142857

#### Ejercicio 11

¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [13]:
df["realEstate_name"].nunique()

1821

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [14]:
cantidad_casas = df['level5'].value_counts()
cantidad_casas.head(3)

level5
 Madrid Capital        6643
Alcalá de Henares       525
Las Rozas de Madrid     383
Name: count, dtype: int64

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [15]:
df_sub_ciudades = df.loc[df['level5'].isin(["Fuenlabrada", "Leganés", "Getafe", "Alcorcón"])]
df_sub_ciudades

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN,1769.230769
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN,2536.363636
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN,2000.000000
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN,1230.769231
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN,2171.717172

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [ ]:
median = df_sub_ciudades[['price', 'rooms', 'surface', 'bathrooms']].mean()
df_median = pd.DataFrame(median)
dicc_media = df_median.to_dict()
dicc_media

{0: {'price': 223094.48070562293,
  'rooms': 3.0177383592017737,
  'surface': 111.75222363405337,
  'bathrooms': 1.633221850613155}}

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [17]:
df_sub_ciudades_sur = df.loc[df['level5'].isin(["Fuenlabrada", "Leganés", "Getafe", "Alcorcón","Móstoles", "Parla", "Pinto", "Arroyomolinos (Madrid)"])]
df_max_price = df_sub_ciudades_sur[["level5", "price"]]
df_max_price.value_counts().max()

np.int64(13)

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [18]:
df_sub_ciudades_2 = df.loc[df['level5'].isin(["Getafe", "Alcorcón"])]
df['pps'] = df.apply(lambda x: x["price"] / x["surface"], axis=1)
df_sub_ciudades_2.head(5)

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
169,170,153920011,False,grupo tizona,911226046.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,6.0,2.0,195.0,290000,...,0,0,0,0,0,"40,31111","-3,73066",NaN,NaN,1487.179487
232,233,152842726,False,aljada inmobiliaria,916355578.0,https://www.fotocasa.es/es/comprar/vivienda/sa...,3.0,1.0,65.0,137400,...,0,0,0,0,0,"40,3060558","-3,7346649",NaN,NaN,2113.846154
233,234,152842686,False,aljada inmobiliaria,916355578.0,https://www.fotocasa.es/es/comprar/vivienda/sa...,3.0,1.0,83.0,135500,...,0,0,0,0,0,"40,3035689","-3,7381336",NaN,NaN,1632.530120

## Conclusiones

#### Ejercicio 17
### Análisis:


Se realizó visualizo una serie de diferentes datos en todos a poblaciones en Madrid, datos referentes a las casas disponibles con sus respectivas características tomando en consideración los precios más bajos o más altos de ciertas zonas. También manejamos sus precios por m/2 para tener un margen del mismo dependiendo de la vivienda, como también seleccionando una zona especifica para analizar datos obtenidos en esa zona.